#services {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    margin: 2rem;
}

.gray_dark_sub_title {
    color: var(--graphite-gray-dark);
    font-size: 1.2rem;
    font-weight: 500;
}

.swiper_container {
    width: 100%;
    max-width: 1020px;
    padding: 0 1rem;
}

.swiper-slide {
    margin-bottom: 5rem;
}

.service_card {
    height: 300px;
    width: 100%;
    padding: 1rem 2rem;
    background-color: #f8f9f8;
    border-radius: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

.service_card h1 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.service_card span {
    font-size: 1rem;
}

.service_icon {
    background-color: #d8e6e6;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 1rem;
}

.service_icon i {
    color: #1e8482;
    font-size: 2.5rem;
}
