@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bronze-gold: #b17c20;
    --bronze-gold-hover: #bf8926;
    --graphite-gray: #041d3d;
    --graphite-gray-dark: #000d1f;
    --white: #ffffff;
    --white-smoke: #f5f5f5;
    --blue-baby: #1e8482;
    --header-height: 74px;
}

body {
    background-color: #fff9ea;
}

#content {
    padding-top: var(--header-height);
}

#home,
#services,
#about,
#testimonials {
    scroll-margin-top: var(--header-height);
}

section {
    padding: 0px 3%;
}

.gray_title {
    color: var(--graphite-gray);
    font-size: 2rem;
    font-weight: 800;
    display: block;
}

.section_divider {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section_divider::before,
.section_divider::after {
    content: "";
    width: 1rem;
    height: 2px;
    background: var(--bronze-gold);
}

.section_divider::before {
    margin-right: 0.5rem;
}

.section_divider::after {
    margin-left: 0.5rem;
}

.section_divider i {
    color: var(--bronze-gold);
    font-size: 1.5rem;
}

.section_divider_footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section_divider_footer::before,
.section_divider_footer::after {
    content: "";
    width: 1rem;
    height: 2px;
    background: whitesmoke;
}

.section_divider_footer::before {
    margin-right: 0.5rem;
}

.section_divider_footer::after {
    margin-left: 0.5rem;
}

.btn_default {
    background-color: var(--bronze-gold);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition:
        background-color 0.2s ease,
        box-shadow 0.2s ease;
}

.btn_default a {
    text-decoration: none;
    color: whitesmoke;
}

.btn_default:hover {
    background-color: var(--bronze-gold-hover);
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
    font-weight: 600;
}

.btn_default_transparent {
    background-color: var(--white-smoke);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blue-baby);
    padding: 10px 20px;
    border-radius: 8px;
    border: 2px solid var(--blue-baby);
    cursor: pointer;
    font-size: 16px;
    font-weight: 650;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition:
        background-color 0.2s ease,
        box-shadow 0.2s ease;
}

.btn_default_transparent a {
    text-decoration: none;
    color: var(--blue-baby);
}

.btn_default_transparent:hover {
    background-color: var(--white-smoke);
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
    font-weight: 650;
}
